aws-cdk-lib>=2.192.0
cdk-nag>=2.35.79
constructs>=10.0.0
requests
aws-solutions-constructs.aws-cloudfront-s3==2.84.0
aws-cdk.aws-lambda-python-alpha>=2.192.0a0
aws-cdk.aws-servicecatalogappregistry-alpha>=2.192.0a0