# https://pypi.org/project/boto3/
boto3>=1.37.23
PyJWT
django
pytz
requests
transformers
aws-cdk.aws-servicecatalogappregistry-alpha>=2.186.0a0
aws-solutions-constructs.aws-cloudfront-s3==2.77.0
aws-cdk.aws-lambda-python-alpha>=2.186.0a0
aws-lambda-powertools[all]